{% extends 'index.html' %}

{% block content %}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Create project Manger Account</h3>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'add_direct_customer'%}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputFirstName">Company Name</label>
                                        <input class="form-control py-4" id="inputFirstName" type="text"
                                            name="company_name" placeholder="Company Name" value="{{first_name}}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputLastName">Contact Name</label>
                                        <input class="form-control py-4" id="inputLastName" type="text" name="contact_name"
                                            placeholder="Contact Name" value="{{last_name}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Contact Number</label>
                                        <input class="form-control py-4" id="inputEmailAddress" type="number"
                                            name="contact_number" aria-describedby="emailHelp" placeholder="Contact Number"
                                            value="{{email}}" />
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputLastName">GST/VAT Number</label>
                                        <input class="form-control py-4" id="inputLastName" type="text" name="gst_vat_number"
                                            placeholder="GST/VAT Number" value="{{username}}" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Order Number</label>
                                        <input class="form-control py-4" id="inputPassword" type="text"
                                            name="order_number" placeholder="Order Number" />
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary ">Creat Account</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
