{% extends 'index.html' %}

{% block content %}


<main>
    <div class="container-fluid">
        <h1 class="mt-4"> Product Assigned</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Products Asignments</li>
        </ol>


        <table class="table table-striped">


            {% for item in project_details %}

            <h2 class="">Projects Name: {{ item.pm_project_name }} </h2>
            {% endfor %}
              <h2>Products</h2>

            <tr>
                <th>sl no</th>
                <th>id</th>
                <th>product_name</th>
                <th>product_catagory</th>
                <th>product type</th>
                <th>product_amount</th>
                <th>product_unit</th>
                <th>last scanned from</th>
                <th>last scanned by</th>


            </tr>
            {% for item in assigned_data %}

            <tr>
                <td>{{forloop.counter|add:0}}</td>
                <td>{{ item.ppa_id }}</td>
                <td>{{ item.ppa_product_id.acpm_product_name }}</td>
                <td>{{ item.ppa_product_id.acpm_product_catagory.acpc_catagory_name }}</td>
                <td>{{ item.ppa_product_id.acpm_product_catagory.acpc_fra_or_single }}</td>
                <td>{{ item.ppa_product_amount }}</td>
                <td>{{ item.ppa_product_id.acpm_product_unit }}</td>
                <td>{{ item.ppa_last_scaned_from }}</td>
                <td>{{ item.ppa_last_scaned_by }}</td>
            </tr>
            {% endfor %}



        </table>
    </div>
</main>

{% endblock %}
