bar
inventoryenv/
env_inv
inventory_control/nohup.out
inventory_control/static/assets/pdf/
inventory_control/static/assets/instalation_img/

inventory_control/admin_account/migrations/
inventory_control/admin_dashboard/migrations/
inventory_control/item_app/migrations/
inventory_control/product_catagory/migrations/
inventory_control/product_details/migrations/
inventory_control/site_app/migrations/
inventory_control/site_manager/migrations/
inventory_control/site_user/migrations/
inventory_control/start_project/migrations/
inventory_control/static/assets/img/
inventory_control/vender_app/migrations/
inventory_control/zone_app/migrations/

inventory_control/admin_account/__pycache__/
inventoryenv/inventory_control/admin_account/__pycache__/
inventory_control/admin_dashboard/__pycache__/
inventory_control/item_app/__pycache__/
inventory_control/product_catagory/__pycache__/
inventory_control/product_details/__pycache__/
inventory_control/site_app/__pycache__/
inventory_control/site_manager/__pycache__/
inventory_control/site_user/__pycache__/
inventory_control/start_project/__pycache__/
inventory_control/static/assets/img/
inventory_control/vender_app/__pycache__/
inventory_control/zone_app/__pycache__/

config.py
inventory_control/__pycache__/
inventory_control/admin_account/__pycache__/
inventory_control/config.py
inventory_control/inventory_control/__pycache__/
