{% extends 'index.html' %}
{% load static %}

{% block content %}


<main>
    <div class="container-fluid">
        <h4 class="mt-4">Product Name</h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Product name view</li>

        </ol>

        <!-- <div class="row justify-content-between">
            <div class="col-4">
                Total data found:{{ totaldata }}
            </div>
            <div class="col-4">
                showing data :{{ showingdata }}
            </div>
        </div> -->



        <table class="display" id="productname_table">

            <thead>


            <tr>

                <!-- <th>QR_CODE</th> -->
              
                <th>sl no</th>
                <th>product name</th>
                <th>product sub catagory name</th>
                <th>product main catagory name</th>  
                <th>product type</th>
                <th>product unit</th>
                                  
                
                <th>created_at</th>
                <th>details</th>
                

            </tr>
        </thead>
        <tbody>
            {% for item in query_results %}
            <tr>

                
                <td>{{forloop.counter|add:pagedata_starting}}</td>

                <td>{{ item.acpm_product_name }}</td>
                <td>{{ item.acpm_product_catagory.acpc_catagory_name }}</td>
                <td>{{ item.acpm_product_main_catagory.pmc_main_catagory_name }}</td>
                <td>{{ item.acpm_product_types }}</td>
                <td>{{ item.acpm_product_unit }}</td>     
               

                <td>{{ item.acpm_created_at }}</td>
                
               
                <td>
                    <a class="page-link" href="{% url 'product_name_by_id' item.acpm_id %}"><i
                            class="fas fa-edit"></i></a>

                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>
        <!-- <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">

                <li class="page-item"><a class="page-link" href="{% url 'product_name_view_pagination' prev_pagenumber %}">
                        pre
                    </a></li>

                <li class="page-item active"><a class="page-link" href="#">{{ curent_page }}</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'product_name_view_pagination' next_page_number %}">
                        next </a></li>
            </ul>
        </nav> -->
    </div>
</main>








{% endblock %}

{% block js_content %}

<script>

    $('#productname_table').DataTable(
//         {
//     "ordering": false,
//     'searching':true,
//     "info": false,
//     "lengthChange": false,
//     'pageLength':20
// }
); 


</script>

 
{% endblock %}
