{% extends 'index.html' %}

{% block content %}


<main>
    <div class="container-fluid">
        <h1 class="mt-4">site</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">site create</li>
        </ol>
        <table class="table table-striped">
            <form action="{% url 'site_create'%}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </table>
    </div>
</main>

{% endblock %}
